# ------------------------
# LOGS Y TEMPORALES
# ------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*
*.pid
*.seed
*.pid.lock
.node_repl_history

# ------------------------
# FIREBASE
# ------------------------
.firebase/
# .firebaserc  # Descomenta si quieres ignorarlo para que cada quien tenga su propio proyecto

# ------------------------
# DIRECTORIOS Y ARCHIVOS DE CACHE
# ------------------------
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/
build/Release
node_modules/
.npm
.eslintcache
.yarn-integrity
.env
.dataconnect

# ------------------------
# FLUTTER / DART
# ------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.melos_tool/
.idea/
.vscode/
android/.gradle/
android/captures/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/.dart_tool/
web/FlutterGeneratedPluginRegistrant.*
build/
*.iml
*.ipr
*.iws

# ------------------------
# FLUTTER WEB CACHE
# ------------------------
flutter_bootstrap.js
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
flutter_assets/
canvaskit/
icons/
manifest.json
version.json
